.hero-content h1{
  .hero-content h4{
    color:#0b7a2d;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:15px;
}

.hero-content h1 span{
    color:#ff9900;
}
  font-size:58px;
  color:#0b5d1e;
  margin-bottom:20px;
  line-height:1.2;
}